<div class="container">
   <h1 class = "text-center">iNoteBook</h1>
   <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Title</label>
      <input class="form-control" type="text" [(ngModel)] = "title" aria-label="default input example">
   </div>
   <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">Your Note</label>
      <textarea class="form-control" [(ngModel)] = "description"id="exampleFormControlTextarea1" rows="3"></textarea>
   </div>
   <button class = "btn btn-primary" (click)="addNote()">Add Note</button>
   <hr>
<h3>Your Notes</h3>
<div *ngIf="this.note.length == 0; then thenBlock else elseBlock"></div>
<ng-template #thenBlock>No notes to show.</ng-template>
<ng-template #elseBlock>
<div *ngFor = "let note of note;let i = index">
<!--Template start -->
<h4>{{note.title}}</h4>
<p>{{note.dis}}</p>
<!-- Button trigger modal-view-->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="viewNote(note)">
  View
</button>
<button class="btn btn-danger mx-2" (click)="deleteNote(note)">Delete</button>
<!-- Button trigger modal-edit-->
<button (click) = "clickEdit(note) "type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal1">
  Edit
</button>

<!-- Modal-edit-->
<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Title</label>
      <input class="form-control" type="text" [(ngModel)] = "edit_title" aria-label="default input example">
   </div>
   <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">Your Note</label>
      <textarea class="form-control" [(ngModel)] = "edit_description" id="exampleFormControlTextarea1" rows="3"></textarea>
   </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click) = "editNote(note)" data-bs-dismiss="modal">Save changes</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal-view -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{view_title}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {{view_description}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-warning" (click)="copyNote(note)">Copy</button>
      </div>
    </div>
  </div>
</div>
<!--Template end -->
</div>
</ng-template>
